/Secao_6_JS_funcao/113_lista_exercicios_resposta_4.zip
/Secao_6_JS_funcao/113_Exercicios__Javascript.pdf
/Secao_9_Lista_de_Exercicios_de_JavaScript
*node_modules
Secao_10_NodeJS/154_funcionarios/node_modules
Secao_10_NodeJS/168_projeto/node_modules